.bar {
  &-chart {
    &-container {
      padding: 10px 2px;
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 15px;

      * {
        // background-color: var(--primary);
      }
    }
    display: grid;
    grid-template-rows: 1fr auto;
    align-content: last baseline;
    overflow: auto;
    row-gap: 10px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-content {
    display: grid;
    grid-auto-flow: column;
    align-items: last baseline;
    column-gap: 28px;
    padding: 12px 20px 5px;

    div {
      display: grid;
      width: 35px;
      background-color: #00000010;
      border-top-right-radius: 10rem;
      border-top-left-radius: 10rem;
      background: linear-gradient(to bottom, var(--primary-trans), transparent);
      opacity: 0.35;
      transition: 0.2s ease-in-out;
      position: relative;
      &:hover {
        opacity: 1;
      }
      &:hover > span {
        opacity: 1 !important;
      }
      span {
        width: auto;
        padding: 8px 14px;
        background: var(--text);
        color: var(--bg-color);
        font-size: 14px;
        border-radius: 4px;
        position: absolute;
        top: -45px;
        justify-self: center;
        opacity: 0;
      }
    }
  }
  &-vert,
  &-horiz {
    opacity: 0.6;
    font-size: 14px;
    font-weight: 500;
  }
  &-vert {
    display: grid;
    text-align: right;
    color: var(--text);
    font-weight: 500;
    align-items: center;
    padding: 12px 3px 0;
    margin-bottom: 20px;
  }
  &-horiz {
    display: grid;
    column-gap: 28px;
    justify-content: space-evenly;
    grid-auto-flow: column;
    justify-content: space-between;
    text-transform: capitalize;
    padding: 0 20px;
    * {
      width: 35px;
      text-align: center;
    }
  }
}
