.order {
  position: relative;
  &-head {
    font-weight: 500;
    height: 35px;
    align-items: center;
    align-content: center;
    > :first-child {
      font-weight: 600;
      font-size: 16px;
    }
    > :last-child {
      font-size: 14px;
      cursor: pointer;
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 10px;
      align-items: center;
      align-content: center;
      color: var(--primary);
    }
  }
  //   &-select {
  //   }
  //   &-options {
  //     display: none;
  //   }
  &-table {
    border-radius: 10px;
    display: grid;
    grid-template-rows: 50px auto;
    padding-top: 10px;
    height: auto;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
