:root {
  --report-height: 350px;
}
.report {
  color: var(--text);
  row-gap: 20px;

  &-container {
    padding: 10px 0;
    display: grid;
    overflow-y: auto;
    row-gap: 20px;
    column-gap: 30px;
    max-height: var(--report-height);
    grid-template-columns: repeat(
      auto-fit,
      minmax(clamp(280px, 500px, 30vw), 1fr)
    );

    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-card {
    font-weight: 500;
    color: var(--text);
    height: 100px;
    border: 1px solid #7f7f7f40;
    border-radius: 10px;
    padding: 10px 12px;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    align-content: center;
    row-gap: 15px;
  }
}

.card {
  &-name {
    font-size: 17px;
    font-weight: 600;
  }
  &-progress {
    height: 16px;
    background-color: var(--alt-color);
    border-radius: 10rem;
    width: 100%;
    display: grid;
    overflow: hidden;

    span {
      height: 100%;
      background-color: var(--primary);
      border-radius: 10px;
      animation: slide 0.8s linear forwards;
    }
  }
  &-details {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
  }
}

@keyframes slide {
  from {
    width: 0;
  }
}

@media screen and (max-width: 1440px) {
  :root {
    --report-height: 400px;
  }
}
