:root {
  --header-height: 88px;
  --header-columns: 1fr auto;
  --header-rows: 1fr;
  --header-padding: clamp(10px, 2vw, 50px);
  --header-left: calc(var(--header-padding) - 25px);
  --search-width: auto;
  --search-padding: 12px;
  --notif-size: 20px;
  --menu-size: 88px;
  --menu-left: 0;
  --float-date: 8vw;
  --second-gap: 10%;
  //   --full
}
.header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  color: var(--text);
  height: var(--header-height);
  width: calc(100vw - var(--header-left));
  padding: 0 var(--header-padding) 0 var(--header-left);
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: var(--header-columns);
  grid-template-rows: var(--header-rows);
  //   row-gap: 20px;
  column-gap: 10px;
  border-bottom: 1px solid #7f7f7f40;
  transition: 0.2s ease-in-out;

  &-first {
    column-gap: 25px;
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    align-items: center;
    align-content: center;
    padding: 0 15px 0 5px;
  }

  &-second {
    column-gap: var(--second-gap);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  > div > span {
    width: var(--menu-size);
    cursor: pointer;
  }

  &-title {
    font-size: clamp(18px, 3vw, 24px);
    font-weight: 600;
    margin-left: -10px;
    justify-self: start;
  }
  &-search {
    min-width: 120px;
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(2, auto);
    border: 2px solid #7f7f7f40;
    border-radius: 10rem;
    // height: 48px;
    padding: var(--search-padding);
    max-width: var(--search-width);
    background-color: var(--accent);
    transition: 0.45s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    &.expand-search {
      overflow: hidden;
      min-width: 0;
      width: 21px;
      padding: 8px;
      background-color: transparent;
      border-color: transparent;
      &:hover {
        border-color: #7f7f7f40;
        background-color: var(--accent);
        min-width: 50px;
        width: 80%;
        padding: var(--search-padding);
      }
    }

    svg {
      //   transform: scale(0.95);
      margin-left: 1.2px;
      align-self: center;
    }

    input {
      background: transparent;
      border: none;
      outline: none;
      padding: 0 20px;
      font-size: 16px;
      color: var(--text-color);
      font-family: inherit;
      font-weight: 500;
      overflow: hidden;
      &::placeholder {
        color: #78828a;
      }
    }
  }
  &-date {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;
    font-weight: 500;
    transition: 0.2s ease-in;
    padding-right: 5px;

    span {
      font-size: 15px;
    }

    svg {
      cursor: pointer;
    }

    :hover + span {
      opacity: 1;
      top: 80px;
      transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
  }
  &-notification {
    padding: calc(var(--search-padding) - 2px);
    border: 2px solid #7f7f7f40;
    border-radius: 50%;
    width: var(--notif-size);
    height: var(--notif-size);
    display: grid;
    align-items: center;
    justify-content: center;
    justify-self: center;
    cursor: pointer;
  }
  &-second {
    justify-self: center;
    &:last-child {
      width: auto;
      max-width: 600px;
    }
  }
}

.float {
  &-date {
    opacity: 0;
    position: fixed;
    background-color: var(--accent);
    width: 100px;
    right: var(--float-date);
    z-index: 1;
    top: 90px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #7f7f7fc7;
    transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
}

.profile {
  margin-right: 12px;
  width: auto;
  justify-self: start;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, auto);
  grid-template-areas:
    "image name name name name arrow"
    "image mail mail mail mail arrow";
  border: 2px solid #7f7f7f40;
  padding: calc(var(--search-padding) - 5px);
  border-radius: 10rem;
  text-align: center;
  font-size: clamp(12px, 1.5vw, 15px);
  column-gap: 2px;
  &-image {
    grid-area: image;
    width: 35px;
    height: 35px;
    background-color: #7f7f7fc7;
    justify-self: center;
    border-radius: 10rem;
  }
  &-name {
    padding: 0 13px;
    grid-area: name;
    font-weight: 600;
  }
  &-mail {
    padding: 0 12px;
    grid-area: mail;
    font-weight: 600;
    opacity: 0.6;
  }
  &-dropdown {
    grid-area: arrow;
    justify-self: center;
    padding: 2px;
    padding-right: clamp(0px, 1.2vw, 8px);
    cursor: pointer !important;
  }
}

.menu {
  overflow: auto;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  transform: translateX(var(--menu-left));
  transition: 0.2s ease-in-out;
  height: 100dvh;
  width: 80px;
  background-color: var(--fg-color);
  display: grid;
  justify-content: center;
  //   padding: 25px 0;
  border-right: 1px solid #7f7f7f40;
  grid-template-rows: auto auto 1fr;
  row-gap: 25px;

  &::-webkit-scrollbar {
    display: none;
  }
  > :first-child {
    height: 88px;
    display: grid;
    align-self: start;
  }
  > div {
    display: grid;
    justify-content: center;
  }
  svg {
    align-self: center;
    cursor: pointer;
  }
  &-top,
  &-bottom {
    display: grid;
    row-gap: 30px;
  }
  &-top {
    align-self: start;
    &-indicator {
      position: absolute;
      width: 3px;
      height: 22px;
      background-color: var(--secondary);
      right: 0;
      opacity: 0;
      // top: 112px;
      border-top-left-radius: 10rem;
      border-bottom-left-radius: 10rem;
      transition: 0.2s ease-out, 0.05s ease-in opacity;

      &.indicate {
        opacity: 1;
      }
    }
  }
  &-bottom {
    align-self: last baseline;
    margin-bottom: 20px;
    &-indicator {
      position: absolute;
      width: 3px;
      height: 22px;
      background-color: var(--secondary);
      right: 0;
      opacity: 0;
      // top: 112px;
      border-top-left-radius: 10rem;
      border-bottom-left-radius: 10rem;
      transition: 0.2s ease-out, 0.05s ease-in opacity;

      &.indicate {
        opacity: 1;
      }
    }
  }
  &-mode {
    align-self: start;
    display: grid;
    row-gap: 20px;
    width: 45px;
    border-radius: 10rem;
    background-color: var(--accent-alt);
    grid-template-rows: repeat(2, 1fr);
    padding: 15px 0;
    position: relative;
    justify-content: center;
    justify-items: center;
    // width: 100%;

    svg {
      z-index: 1;
    }

    &-toggle {
      width: 30px;
      height: 30px;
      background-color: var(--primary);
      border-radius: 10rem;
      justify-self: center;
      top: 9px;
      bottom: inherit;
      z-index: 0;
      position: absolute;
      transition: 0.3s ease-in;

      &.down {
        animation: stretch 0.3s linear forwards;
        top: inherit;
        bottom: 9px;
      }
      &.up {
        animation: stretch-inv 0.3s linear forwards;
      }
    }
  }
}

.expand {
  &-menu {
    --menu-left: 0px;
  }
  &-header,
  &-container {
    padding-left: 100px;
  }
}

@keyframes stretch {
  from {
    height: 70px;
  }
  to {
    height: 30px;
  }
}

@keyframes stretch-inv {
  from {
    height: 70px;
  }
  to {
    height: 30px;
  }
}

@media screen and (max-width: 920px) {
  :root {
    --header-padding: clamp(15px, 3vw, 25px);
    --header-left: var(--header-padding);
    --search-width: 200px;
    --search-padding: 10px;
    --notif-size: 30px;
    --menu-size: auto;
    --menu-left: -80px;
    --float-date: 35vw;
    --content-left: 0px;
    --second-gap: 30px;
  }
}

@media screen and (max-width: 540px) {
  :root {
    --header-height: 150px;
    --header-columns: 1fr;
    --header-rows: repeat(2, 1fr);
    --search-width: calc(100vw - 100px);
    --float-date: 5vw;
  }
}

@media screen and (max-width: 1074px) and (min-width: 920px) {
  :root {
    --search-width: 120px;
  }
}

@media screen and (min-width: 920px) {
  .expand {
    &-header {
      padding-left: 0px;
    }
  }
}
