body {
  --bg-color: #fafafa;
  --fg-color: #f7f8fa;
  --accent: #ffffff;
  --text: #26282c;
  --text-alt: #9e9e9e;
  --primary: #34caa5;
  --secondary: #0d062d;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  width: 100vw;
  min-height: 100dvh;
  font-family: "Plus Jakarta Sans", sans-serif;
}
