body {
  --bg-color: #fafafa;
  --fg-color: #f7f8fa;
  --accent: #ffffff;
  --text: #26282c;
  --text-alt: #9e9e9e;
  --primary: #34caa5;
  --secondary: #0d062d;
  --menu-color: #0d062dc9;
  --menu-color-alt: #b2abab;
  --success: 52, 203, 165;
  --error: 237, 84, 78;
  --success-graph: #66c87b;
  --error-graph: #ed544e;

  // Dark-mode

  //   --bg-color: #fafafa;
  //   --fg-color: #f7f8fa;
  //   --accent: #ffffff;
  //   --text: #26282c;
  //   --text-alt: #9e9e9e;
  //   --primary: #34caa5;
  //   --secondary: #0d062d;
  //   --menu-color: #d8d4e9ee;
  // --menu-alt-color: #b2abab;
}
body.dark-mode {
}

body {
  margin: 0;
  background-color: var(--bg-color);
  max-width: 100vw;
  min-height: 100dvh;
  font-family: "Plus Jakarta Sans", sans-serif;
  &:has(.expand-menu) {
    overflow: hidden;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  display: grid;
  padding-bottom: 20px;
}
