.sales {
  position: relative;
  &-head {
    font-weight: 500;
    height: 35px;
    align-items: center;
    align-content: center;
    > :first-child {
      font-weight: 600;
      font-size: 16px;
    }
    > :last-child {
      font-size: clamp(12px, 0.5vw, 15px);
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 10px;
      align-items: center;
      align-content: center;
      label {
        border-radius: 10rem;
        border: 2px solid #7f7f7f40;
        cursor: pointer;
        padding-right: 8px;
      }
      select {
        cursor: pointer;
        padding: 8px 10px 8px 8px;
        background: transparent;
        outline: none;
        border: none;
        color: inherit;
        opacity: 0.8;
      }
    }
  }
  //   &-select {
  //   }
  //   &-options {
  //     display: none;
  //   }
}
.select {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  align-items: center;
  justify-content: center;

  &-container {
    background-color: var(--bg-color);
    padding: 10px 0;
    width: 115px;
    color: var(--text);
    border-radius: 20px;
    border: 2px solid #7f7f7f40;
    cursor: pointer;
    position: relative;
    font-size: 13px;
    text-transform: capitalize;

    svg {
      transform: scale(0.8);
    }
  }
  &-option {
    overflow: hidden;
    height: 130px;
    animation: unwrap 0.3s;
    display: grid;
    padding: 15px 0 0;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    background-color: var(--bg-color);
    left: -1.5px;
    width: 100%;
    border-left: 2px solid #7f7f7f40;
    border-right: 2px solid #7f7f7f40;
    border-bottom: 2px solid #7f7f7f40;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    span {
      text-align: center;
      padding: 13px 15px 13px 0;
      color: var(--text);

      &:hover {
        background-color: #87878769;
        // color: var(--bg-color);
      }
    }
    // &#show-option {
    //   // display: grid;
    // }
  }
}

@keyframes unwrap {
  from {
    height: 0;
  }
}

#show-option {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
